@charset "utf-8" ;
/* ==========================
 * ABOUT
 * last-update: 08/11/25
========================== */
.content_text h3{
	float : left;
	display : block;
	background-image : url(../img/common_subtitle_bg_right.png);
	background-position : top right;
	background-repeat : no-repeat;
	color : #c60;
	font-size : 1.2em;
	font-weight : bold;
	height : 40px;
	margin-right : 6px;
	padding-right : 12px;
	margin-bottom : 10px;
}
.content_text h3 span{
	display : block;
	line-height : 35px;
	background-image : url(../img/common_subtitle_bg_left.png);
	background-position : top left;
	background-repeat : no-repeat;
	padding : 5px 28px 5px 45px;
	margin : 0 0 0 2em;
}
.content_text p{
	margin-left : 3em;
}
.content_text img{
	float : right;
	margin : 0 2em 0 1em;
}
