/* height of both side bar */
#middle_back_left, #middle_back_right{
	height:990px;
}


/* ç∂ÇÃmenu énÇ‹ÇË */
/* ------------------------------------------------------------------ */
.slide_top{
	font-family:"ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro",
	"ÉÅÉCÉäÉI", Meiryo, Osaka, sans-serif Verdana, Arial,
	Helvetica, sans-serif;
	font-size:16px;
	cursor:pointer;
	background-color:#CCC;	
	margin:0px;
	padding:2px;
}

.slide_content{
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro',
	'ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	margin:0px;
	padding:5px;
	text-align:left;
	font-size:16px;
}

#menu{
	position:absolute;
	top:150px;
	width:120px;
	height:300px;
	display:inline;
}

#menuwrap{
	float:left;
	width:120px;
	height:600px;
	display:inline;
}
/* ------------------------------------------------------------------ */
/* ç∂ÇÃmenu èIÇÌÇË */


#content_head{
	width:890px;
	height:30px;
	margin:3px;
}

#group_name{
	font: 2em normal Georgia, 'Times New Roman', Times, serif;
	letter-spacing: 0.3em;
	color: #666;
	margin-left:2px;
	width:auto;
	margin-top:0px;
	margin-right: 2px;
	margin-bottom: 2px;
}

#group_content{
	width:760px;
	height:auto;
	float:left;
	padding:5px;
}


	
.content_name{
	float:left;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	padding-right:15px;
	padding-left:15px;
	padding-top:10px;
	padding-bottom:5px;
	font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro',
	'ÉÅÉCÉäÉI',	Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
	background-color:#CCC;	
}

.content{
	font-size:16px;
	width:680px;
	margin-left:10px;
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden;
	outline:none;
}



a u{
	color:#F90;
}

.test{
	color:#F90;
}

#img_wrap{
	text-align:center;
	width:620px;	
}

.img{
	padding-top:10px;
	padding-bottom:10px;
	width:300px;
	float:left;
	text-align:center;
}

.img_left{
	padding-top:10px;
	width:300px;
	float:left;
	text-align:center;
}

.img-single{
	height:220px;
	text-align:center;
	margin-top:20px;
}

.photo_cap{
	padding:5px;
	font-size:12px;
	text-align:center;
}

.img_content{
	padding:20px;
	font-size:16px;
}

.subindex{
	font-size:16px;
}

.subindex_content{
	width:640px;
	float:left;
	padding-left:24px;
	padding-top:5px;
	padding-bottom:10px;
	font-size:16px;
}

.movie{
	float:center;
	width:425px;
	padding:10px;
	padding-left:118px;
	overflow:hidden;
	outline:none;
	text-align:center;	
}

.movie_wide{
	float:left;
	width:600px;
	padding:10px;
	padding-left:55px;
	overflow:hidden;
	outline:none;	
}

.movie_cap{
	float:left;
	font-size:16px;
	padding:10px;
	width:560px;
	text-align:center;
}	

ol{
	list-style-type:none;
}

a.orenge{
	color:#F90;
}

#reference{
	line-height:150%;
}

/* layout image énÇ‹ÇË */
/* ------------------------------------------------------------------ */
#left{
	width:20px;
	height:auto;
	margin:0;
	float:left;
	display:inline;
	background-color:#FFF;
}

#Middle_left{
	background-image:url(../../img/layout/Middle_left.png);
	background-color:#FFF;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:20px;
	height:350px;
	margin-bottom:0px;
	float:left;
	display:inline;
}

#middle_back_left{
	background-image:url(../../img/layout/middle_back_left.png);
	background-repeat:repeat-y;
	float:left;
	width:20px;
	display:inline;
}

#right{
	width:20px;
	margin:0;
	height:auto;
	float:left;
	display:inline;
	background-color:#FFF;
}

#Middle_right{
	background-image:url(../../img/layout/Middle_right.png);
	margin-left:0px;
	margin-top:0px;
	width:20px;
	height:350px;
	margin-bottom:0px;
	float:left;
	display:inline;
}

#middle_back_right{
	background-image:url(../../img/layout/middle_back_right.png);
	background-repeat:repeat-y;
	float:left;
	width:20px;
	display:inline;
}
/* ------------------------------------------------------------------ */
/* layout image èIÇÌÇË */


#content{
	background-color:#FFF;
	width:890px;
	height:auto;
	float:left;
	margin:auto;
	overflow:visible;
	display:inline;
	
	line-height:200%;
}



/* top menu énÇ‹ÇË */
/* ------------------------------------------------------------------ */
#Introduction {
	background-image:url(../../img/layout/hover_Introduction.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -1000px;

}

a#Introduction {
	background-image:url(../../img/layout/hover_Introduction.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;
}

a#Introduction:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;
}

#Groups {
	background-image: url(../../img/layout/Research.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:block;
	text-indent: -2000px;

}

a#Groups {
	background-image: url(../../img/layout/Research.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display: block;
	overflow:hidden;
	outline:none;

}

a#Groups:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;

}

#Papers {
	background-image: url(../../img/layout/hover_Papers.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -2000px;

}

a#Papers {
	background-image: url(../../img/layout/hover_Papers.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	

}

a#Papers:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}

#Members {
	background-image:url(../../img/layout/hover_Members.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:108px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -1000px;
}

a#Members {
	background-image:url(../../img/layout/hover_Members.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:108px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;
}

a#Members:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}


#Schedule{
	background-image: url(../../img/layout/hover_Schedule.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -2000px;

}

a#Schedule{
	background-image: url(../../img/layout/hover_Schedule.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	

}


a#Schedule:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}
/* ------------------------------------------------------------------ */
/* top menu èIÇÌÇË */
