

#title{	
	width:100%;
	font-size:25px;
	float:left;
	padding:2px;
	background-color:#CCC;
	margin:5px;
	text-align: center;
	font-family:"ÉÅÉCÉäÉI", Meiryo, sans-serif
	}

.schedule-detail{
	padding-left:150px;
	margin-top:65px;
	margin-bottom:25px;
	font-size:20px;
	font-family:"ÉÅÉCÉäÉI", Meiryo, sans-serif;
	line-height:40px;
	}
	
#content{
	background-color: #FFF;
	width: 890px;
	height: 700;
	float: left;
	margin: auto;
	overflow: visible;
	display: inline;
	}

#content div.grade{
	font-family:Georgia, "Times New Roman", Times, serif;
 padding:2px;
 margin:5px;
 width:890px;
 /*height:30px;*/
 text-align:center;
 font-size:25px;
 background-color:#CCCCCC;

}
#content div.grade_rs{
	font-family:Georgia, "Times New Roman", Times, serif;
 padding:2px;
 margin:5px;
 width:250px;
 /*height:30px;*/
 text-align:center;
 font-size:25px;
 background-color:#CCCCCC;

}

#content div.name{
 font-weight:normal;
 margin:6px;
 /*width:300px;*/
 height:30px;
 }


#content div.name p{
 text-align:left;
 background-color:ffffff;
 

 }

#content div.name p span{
 font-size:14px;
 font-weight:bold;
 background-color:ffffff;
 font-family:'ÉqÉâÉMÉmäpÉS Pro W3','Hiragino Kaku Gothic Pro','ÉÅÉCÉäÉI',Meiryo,'ÇlÇr ÇoÉSÉVÉbÉN',sans-serif;
}

#content div.name font{
	color:#F90;
}

#left{
	width:20px;
	height:600px;
	margin:0;
	float:left;
	display:inline;
	background-color:#FFF;
	
	}

#Middle_left{
	background-image:url(../../img/layout/Middle_left.png);
	background-color:#FFF;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:20px;
	height:350px;
	margin-bottom:0px;
	float:left;
	display:inline;

}

#middle_back_left{
	background-image:url(../../img/layout/middle_back_left.png);
	background-repeat:repeat-y;
	float:left;
	width:20px;
	height:460px;
	display:inline;
	}

#right{
	width:20px;
	margin:0;
	height:600px;
	float:left;
	display:inline;
	background-color:#FFF;
	
	}

#Middle_right{
	background-image:url(../../img/layout/Middle_right.png);
	margin-left:0px;
	margin-top:0px;
	width:20px;
	height:350px;
	margin-bottom:0px;
	float:left;
	display:inline;
}

#middle_back_right{
	background-image:url(../../img/layout/middle_back_right.png);
	background-repeat:repeat-y;
	float:left;
	width:20px;
	height:460px;
	display:inline;
	}

/*#content{
	background-color:#FFF;
	width:890px;
	height:620px;
	float:left;
	margin:auto;
	overflow:visible;
	display:inline;
	}*/

#Introduction {
	background-image:url(../../img/layout/hover_Introduction.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -1000px;

}

a#Introduction {
	background-image:url(../../img/layout/hover_Introduction.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	

}

a#Introduction:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}

#Groups {
	background-image: url(../../img/layout/hover_Research.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:block;
	text-indent: -2000px;

}

a#Groups {
	background-image: url(../../img/layout/hover_Research.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display: block;
	overflow:hidden;
	outline:none;	
}

a#Groups:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}

#Papers {
	background-image: url(../../img/layout/hover_Papers.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -2000px;
	overflow:hidden;
	outline:none;	

}

a#Papers {
	background-image: url(../../img/layout/hover_Papers.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:110px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	

}

a#Papers:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}

#Members {
	background-image:url(../../img/layout/Members.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:108px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -1000px;
}

a#Members {
	background-image:url(../../img/layout/Members.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:108px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	
}

a#Members:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}

#Schedule{
	background-image: url(../../img/layout/hover_Schedule.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	text-indent: -2000px;

}

a#Schedule{
	background-image: url(../../img/layout/hover_Schedule.png);
	background-position:top right;
	background-repeat:no-repeat;
	margin-left:0px;
	margin-top:0px;
	width:112px;
	height:35px;
	margin-bottom:0px;
	float:left;
	display:inline;
	overflow:hidden;
	outline:none;	

}


a#Schedule:hover{
	background-position: top left;
	overflow:hidden;
	outline:none;	
}
